body {
    align-items: center;
    font-family: "Raleway", Helvetica, sans-serif;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
header {
    background-size: 100% 100%;
    grid-column: 1/4;
}
#home-header {
    background-image: url(images/space.jpg);
}

.title {
    font-size: 32pt;
    color: white;
    text-align: center;
    padding-top: 100px;
}
.sub-title {
    font-size: 24pt;
    color: white;
    text-align: center;
    padding-bottom: 200px;
}
@media(max-width: 500px) {
    .title {
        font-size: 20pt;
    }
    .sub-title {
        font-size: 16pt;
    }
}
.highlight {
    color: #e31b6d;
}
nav {
    grid-column: 1/4;
    font-size: 20pt;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: black;
}
a {
    color: white;
    text-decoration: none; 
    padding: 10px 30px;
}
a:hover {
    color: #e31b6d;
    text-decoration: underline;
}
.active {
    color:#e31b6d
}
#home-link {
    text-align: right;
}
#about-link {
    text-align: center;
}
#contact-link {
    text-align: left;
}
@media(max-width: 500px) {
    nav {
        font-size: 12pt;
    }
}
.experience {
    text-align: center;
    grid-column: 1/4;
}
.experience-heading {
    background: #e31b6d;
    color: white;
}
.projects {
    grid-column: 1/4;
}
.projects > ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.projects > ul > li {
    background: grey;
}
.projects > ul > li:nth-child(odd) {
    background: #ddd;
}
.projects > ul > li > h3{
    padding-top: 20px;
}
.projects > ul > li > p{
    padding: 20px;
}
.project-subtitle {
    padding-top: 0 !important;
}
footer {
    color: white;
    background: cornflowerblue;
    grid-column: 1/4;
    text-align: center;
    padding-bottom: 20px;
}
